body{
  background-color: #DCD7D4;
}
form {
  width: 450px;
  min-height: 300px;
  border-radius: 50px; /*邊角弧度*/
  margin: 5% auto;
  box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
  padding: 5%;
  background-image: linear-gradient(-225deg, #E2C1C0 50%, #C3ADB3 50%);
}

h2 {
  margin: 2% auto 10% auto;
  text-align: center;
  font-size: 250%;
  font-family: 'Playfair Display', serif;
  color: #884C5E;
}

label {
  display: block;
  letter-spacing: 0.02em;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;

  font-family: 'Playfair Display', serif;
  color: #3f4553;
  
  transition: 0.2s linear;
}

input{
  display: flex;
  justify-content: center; 
  align-items: center;

  height: 30px;
  width: 340px;

  border: none;
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
}

button {
  display: flex;
  justify-content: center; 
  align-items: center;

  color: #884C5E;
  font-family: 'Playfair Display', serif;
  font-size: 100%;

  width: 280px;
  height: 50px;

  padding: 15px;
  background: #fff;
  border-radius: 5px;
  border: none;

  cursor: pointer; /*游標圖案*/
  transition: all 0.2s linear;
  
  margin: 12% auto; /*和上面距離*/
  letter-spacing: 0.05em;

}
button:hover {
  transform: translatey(3px);
  box-shadow: none;
}